body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 2;
    
}
.container {
   
   max-width: 1000px;
;
}
textarea {
    border: none;
    font-size: 15px;
    color: black;
    padding: 5px;
    border-left: 1px solid black;
    align-items: baseline;
    width: 800px;
    height: 100px;
}
.jumbotron {
    text-align: center;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    border-bottom: 20px black;
    font-size: larger;
}
.hour {
    background-color: lightgrey;
    color: white;
    border-top: 1px solid black;
}
.past {
    background-color: red;
    color: black;
}
.present {
    background-color: green;
    color: white;
}
.future {
    background-color: yellow;
    color: black;
}
.save-btn {
    background-color: black;
    font-size: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid rgb(255, 0, 0);
   height: 100px;
   width: 100px;
}
